{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>

<head>
    <title>MyTodoist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/square/red.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static',filename='css/polaris/polaris.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/icheck.js') }}"></script>
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container col-lg-8 col-lg-offset-2 col-sm-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MyTodoist</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a data-toggle="modal" href="#add-task"><span class="glyphicon glyphicon-plus"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  开始
                                  <b class="caret"></b>
                              </a> {% if current_user.is_authenticated %}
                            <ul class="dropdown-menu">
                                <li><a href="#">个人中心</a></li>
                                <li><a href="#">查看活动日志</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('user.logout') }}">退出</a></li>
                                <li><a href="#">设置</a></li>
                            </ul>
                            {% else %}
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('user.register') }}">注册</a></li>
                                <li><a href="#">找回密码</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('user.login') }}">登录</a></li>
                                <li><a href="#">设置</a></li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="navbar-form navbar-right" role="search">
                    <form class="navbar-form navbar-right" action="{{ url_for('main.search') }}" role="search" method="post">
                        {{ search.csrf_token }}
                        <div class="form-group">
                            {{ search.s.label }} {{ search.s(id="search",class ="form-control",placeholder = "请输入关键字")}}
                        </div>
                        <button type="submit" id="search" class="btn btn-default">搜索</button>
                    </form>
                </div>
                <!--  <script>
                    document.getElementById("search").style.display="none";
                    document.onkeydown = function(){
                        if(event.keyCode==13)
                        {
                            document.getElementById("search").click();   
                        }
                    };
                    </script> -->
            </div>
        </div>
        <!--end nav container-->
    </nav>
    {% endblock %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %} {% block page_content %}{% endblock %}
    </div>
    {% block body %} {% block leftnav %}
    <div class="right-navbar col-lg-2 col-lg-offset-2 col-xs-4">
        <ul class="nav nav-pills nav-stacked" style="padding-top: 20px;">
            <li><a href="/"><span class="glyphicon glyphicon-tasks"></span> 今天</a></li>
            <li><a href="{{ url_for('main.sevenday') }}"><span class="glyphicon glyphicon-list-alt"></span> 接下来7天</a></li>
        </ul>
        <ul class="nav nav-tabs" style="padding-top: 20px;">
            <li {% if request.cookies.get( "show_what")=="project" %} class="active" {% endif %}><a href="{{ url_for('main.show_project') }}">项目</a></li>
            <li {% if request.cookies.get( "show_what")=="title" %} class="active" {% endif %}><a href="{{ url_for('main.show_title') }}">标签</a></li>
            <!-- <li><a href="#">过滤器</a></li> -->
        </ul>
        {% if request.cookies.get("show_what")=="project" %}
        <ul class="nav nav-pills nav-stacked" style="padding-top: 5px;">
            {% for p in current_user.projects %}
            <li {% if page_p==p.name %}class="active" {% endif %}><a href="{{ url_for('main.project',project=p.name) }}"><span class="glyphicon glyphicon-{{ p.icon }}"> </span> {{ p.name }}</a></li>
            {% endfor %}
            <li class="divider" style="color: #fff;"></li>
            <li><a data-toggle="modal" href="#add-project" style="color: red;"><span class="glyphicon glyphicon-plus"></span> 添加项目</a></li>
        </ul>
        {% elif request.cookies.get("show_what")=="title" %}
        <div class="title" style="padding-top: 10px;">
            {% for t in current_user.titles %}
            <a href="{{ url_for('main.title',title=t.title) }}">
                <button type="button" class="btn btn-default btn-sm">{{ t.title }}</button>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endblock %}
    <div class="right-navbar col-lg-6 col-xs-8">
        {% block right %} {% endblock right %}
    </div>
    {% endblock %} {% block modal %}
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加项目</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(projectform) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    {% if current_user.is_authenticated %}
                    <button type="submit" class="btn btn-primary" onclick="load()">提交</button>
                    <script>
                    function load() {
                        document.getElementById("submit").click();
                    }
                    document.getElementById("submit").style.display = "none"
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加任务</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{{ url_for('main.add_task') }}" method="post">
                        {{ edit_task_form.csrf_token }}
                        <div class="form-group">
                            {{ edit_task_form.task.label }} {{ edit_task_form.task(id="task",class ="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ edit_task_form.project.label }} {{ edit_task_form.project(id="project",class ="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ edit_task_form.title.label }} {{ edit_task_form.title(id="title",class ="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ edit_task_form.new_title.label }} {{ edit_task_form.new_title(id="new_title",class ="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ edit_task_form.timenode.label }} {{ edit_task_form.timenode(id="add-timenode",class ="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ edit_task_form.priority.label }} {{ edit_task_form.priority(id="priority",class ="form-control")}}
                        </div>
                        <button type="submit" class="btn btn-default" id="submit-add-task">提交</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    {% if current_user.is_authenticated %}
                    <button type="submit" class="btn btn-primary" id="newtask">提交</button>
                    <script>
                    // function task() {
                    //     document.getElementById("tasksave").click();
                    // }
                    $("#newtask").on("click", function() {
                        document.getElementById("submit-add-task").click();
                    });
                    document.getElementById("submit-add-task").style.display = "none";
                    // document.getElementById("timenode").type="date";
                    $("#add-timenode").datetimepicker({ format: 'yyyy-mm-dd' });
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>