{% extends "base.html" %} {% block right %} {% for task in tasks %}
<div class="task-day">
    <h2><p><small> 
  <script>
  var time = moment('{{ task }}').locale('zh-cn').format('dddd MMMDo'); 
  document.write(time);
  </script>         
</small></p></h2> {% if tasks[task] %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 60%">任务</th>
                <th style="width: 10%">项目</th>
                <th style="width: 10%">创建时间</th>
                <th style="width: 10%">完成？</th>
                <th style="width: 10%">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tasks[task] %}
            <tr data-toggle="tooltip" data-placement="top" title="" id="task{{ t.id }}">
                <td>
                    <p>
                        <script>
                        document.getElementById('task{{ t.id }}').title = "时间节点: {{ t.timenode }}";
                        </script>
                        {{ t.task }}</p>
                </td>
                <td>
                    <a href="#">
                        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-{{ t.project_task.icon }}"></span> {{ t.project }}</button>
                    </a>
                </td>
                <td>
                    <script>
                    var timestamp = moment('{{ t.timestamp }}').locale('zh-cn').fromNow();
                    document.write(timestamp);
                    </script>
                </td>
                <td>
                    {% if t.filish %}
                    <a href="{{ url_for('main.task_unfilish',id=t.id) }}">
                        <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.task_filish',id=t.id) }}">
                        <button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </a>
                    {% endif %}
                    </script>
                </td>
                <td>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href=""><span class="glyphicon glyphicon-edit"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="#edit{{ t.id }}" data-toggle="modal">编辑任务</a></li>
                            <li><a href="#">删除任务</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <div class="modal fade" id="edit{{ t.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">添加项目</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="{{ url_for('main.edit_task',id=t.id) }}" method="post">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" id="task_task{{ t.id }}" name="task_task{{ t.id }}" value="{{ t.task }}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目：</label>
                                    <select class="form-control" id="project{{ t.id }}" name="project{{ t.id }}" style="width: 30%;">
                                        {% for p in t.project_task.query.all() %} {% if p.name==t.project %}
                                        <option value="{{ t.name }}" selected="selected">{{ p.name }}</option>
                                        {% else %}
                                        <option value="{{ p.name }}">{{ p.name }}</option>
                                        {% endif %} {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">时间节点</label>
                                    <input class="form-control" id="timenode{{ t.id }}" name="timenode{{ t.id }}" type="text" value="{{ t.timenode }}" style="width: 20%;">
                                    <script>
                                    $("#timenode{{ t.id }}").datetimepicker({ format: 'yyyy-mm-dd' });
                                    </script>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">优先级:</label>
                                    <select class="form-control" id="priority{{ t.id }}" name="priority{{ t.id }}" style="width: 10%;">
                                        <option value="1" {% if t.priority==1 %}selected="selected" {% endif %}>1</option>
                                        <option value="2" {% if t.priority==2 %}selected="selected" {% endif %}>2</option>
                                        <option value="3" {% if t.priority==3 %}selected="selected" {% endif %}>3</option>
                                        <option value="4" {% if t.priority==4 %}selected="selected" {% endif %}>4</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default" id="submit{{ t.id }}">提交</button>
                            </form>
                        </div>
                        <div class="modal-foter">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary pull-right" id="submit1{{ t.id }}">提交</button>
                            <script>
                            $("#submit1{{ t.id }}").on("click", function() {
                                document.getElementById("submit{{ t.id }}").click();
                            });
                            document.getElementById("submit{{ t.id }}").style.display = "none"
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div class="add-task" style="padding-bttom: 30px;">
    <a data-toggle="modal" href="#add-task" style="color: red;"><span class="glyphicon glyphicon-plus"></span> 添加任务</a>
</div>
{% endfor %} {% endblock right %}