{% extends "base.html" %} {% block right %} {% for task in tasks7 %}
<div class="task-day">
    <h2><p><small> 
  <script>
  var time = moment('{{ task }}').locale('zh-cn').format('dddd MMMDo'); 
  document.write(time);
  </script>         
</small></p></h2> {% if tasks7[task] %} {% set tasks=tasks7[task] %} {% include 'task-list.html' %} {% endif %}
</div>
<div class="add-task" style="padding-bttom: 30px;">
    <a data-toggle="modal" href="#add-task" style="color: red;"><span class="glyphicon glyphicon-plus"></span> 添加任务</a>
</div>
{% endfor %} {% endblock right %}