{% extends "base.html" %} {% block right %} {% if overdue_tasks !=[] %}
<div class="ot-tasks">
    <h3><p style="color: red;">有过期的任务</p></h3> {% set tasks=overdue_tasks %} {% include 'task-list.html' %}
</div>
{% endif %}
<div class="today-tasks">
    <h2><p>今天 <small> 
  <script>
  var time = moment('{{ now }}').locale('zh-cn').format('dddd MMMDo'); 
  document.write(time);
  </script>         
</small></p></h2> {% set tasks=today_tasks %} {% include 'task-list.html' %}
    <a data-toggle="modal" href="#add-task" style="color: red;"><span class="glyphicon glyphicon-plus"></span> 添加任务</a>
</div>
{% endblock right %}